<%
    var title = '';
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }

    var postList = [];
    if (page.category) {
        postList = page.posts;
        title = page.category + ' - ' + config.description;
    }
    else if (page.tag) {
        postList = page.posts;
        title = "# " + page.tag + ' - ' +config.description;
    } else {
        postList = page.posts;
    }
%>

<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: title,
    secondaryText: '',
    banner: '',
    pubDate: '',
    author: ''
}) %>

<div class="w-100 ph2 ph4-m ph5-l mv2">
    <div class="content">
        <div class="mw8 center">
            <% postList.each(function(item){ %>
                <%- partial('_partial/article-short', {item: item}) %>
            <% }); %>
        </div>
    </div>
    <%- partial('_partial/pagination') %>
</div>
<%- partial('_partial/adsense') %>