@import "tachyons.min.css"
@import "partial/_modal.css"

$main-color = #29C6CD
$gradient-color-1 = #36B1DA
$gradient-color-2 = #29C6CD
$main-font = Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
b, strong{
  font-weight: bold;
}
img {
  height: auto
}
.facebook-button
  background: #3B5998
.twitter-button
  background: #00aced
.pinterest-button
  background: #cd2029

.amzn-btn
  background: #f0c14b
  border-color: #a88734 #9c7e31 #846a29
  color: #111111
  // font-weight: bold

.td_btn
  cursor: pointer;
  display: block;
  position: relative;
  color: white;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 600;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding: 5px 10px;
  &:hover
    background-color: #444;
    color: #fff;
  & a:visited, a:active, a:link
    color: #fff

.td_btn_lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}

.td_btn_md {
  padding: 9px 12px;
  font-size: 16px;
  line-height: 20px;
}

.td_outlined_btn {
  border-width: 2px;
  border-style: solid;
  border-color: #1aa4ce;
  border-radius: 4px;
  color: #1aa4ce;
  background-color: transparent;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}



.td_round_btn
  border-radius: 6px
  background-color: #1aa4ce

@import "partial/_base.styl"
@import "partial/_content.styl"

.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search
  width: 150px;
  // border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 10px;
  box-sizing: border-box;
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }

.toc-container
  float: right;
  margin: 20px 10px 0;
  max-width: 40%;
  background: #eee;
  border-radius: 5px;
  padding: 1rem;
  h5 {
    padding: 0;
    margin: 0;
  }
.toc {
  font-size: 0.8em;
  padding: 0 1em;
  list-style: square;
}
.toc ul, .toc ol {
  padding-left: 1rem;
}
.toc li {
  margin: 0 0 0.25em 0;
}
.toc a {
  text-decoration: none;
}
.toc a:hover,
.toc a:active {
  text-decoration: underline;
}

h3:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  padding: 6px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0 !important;
}
#gsc-i-id1 {
  background: none !important;
  text-indent: 0 !important;
  min-width: 110px;
}
.date::before {
  content: "📆 "
}
.author::before {
  content: "💁 "
}
// Carousel
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-item {}

.carousel-image {
    display: block;
}
.carousel .control {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 3rem;
    height: 3rem;
    line-height: 2.7rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 3rem;
    z-index: 10;
    outline: none;
    border: none;
}

.control:hover {
    background: rgba(0, 0, 0, 0.8);
}

.control.prev {
    left: 2%;
}

.control.next {
    right: 2%;
}
@media (max-width: 600px) {
  .carousel-image {
      max-width: 600px;
  }
}