<div class="carousel">
  <div class="siema">
    <% theme.carousel.items.forEach((item) => { %>
    <a class="carousel-item" href="<%- item.url %>">
        <img class="carousel-image" src="<%- item.image %>">
    </a>
    <% }) %>
  </div>
  <button class="control prev">‹</button>
  <button class="control next">›</button>
</div>