<% for (var i in theme.amazon.ads) { %>
  <div id="amzn-assoc-ad-<%- theme.amazon.ads[i] %>"></div>
  <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=<%- theme.amazon.ads[i] %>"></script>
<% } %>
