<% let ads = site.data['sidebar-ad']; let ad = ads[Math.floor(Math.random() * ads.length)]; %>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="<%- theme.adsense.id %>"
     data-ad-slot="8680122681"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="full-banner">
<a href="<%- ad.adLink %>" class="link" rel="nofollow" target="_blank">
  <img src="<%- ad.imageLink %>" alt="sidebar promo" class="grow promo">
</a>
</div>