<form class="bg-light-blue center pa4 br2-ns ba b--black-10" action="https://<%- theme.mailchimp.user %>.us15.list-manage.com/subscribe/post?u=<%- theme.mailchimp.u %>&amp;id=<%- theme.mailchimp.id %>"
  method="post" id="mc-embedded-subscribe-form-sidebar" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <fieldset class="cf bn ma0 pa0">
    <legend class="pa0 f5 f4-ns mb3 black-80">Sign up for our newsletter</legend>
    <div class="mt3">
      <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100 b--black" placeholder="Your Email Address"
        type="email" name="EMAIL" value="" id="email-address">
    </div>
    <div class="mt3">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Sign Up">
    </div>
  </fieldset>
</form>