<% let ads = site.data['sidebar-ad']; let ad = ads[Math.floor(Math.random() * ads.length)]; %>
<div class="full-banner">
<a href="<%- ad.adLink %>" class="link" rel="nofollow" target="_blank">
  <img src="<%- ad.imageLink %>" alt="sidebar promo" class="grow promo">
</a>
<%- partial('_partial/adsense') %>
</div>