<form class="bg-light-gray w-80 center pa4 br2-ns ba b--black-10 mv2" action="https://<%- theme.mailchimp.user %>.us15.list-manage.com/subscribe/post?u=<%- theme.mailchimp.u %>&amp;id=<%- theme.mailchimp.id %>"
  method="post" id="mc-embedded-subscribe-form-sidebar" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <fieldset class="cf bn ma0 pa0">
    <legend class="pa0 f5 f4-ns mb3 black-80">Get Exclusive Updates</legend>
    <div class="mt3">
      <label for="email-id" class="dn">Email</label>
      <input class="pa2 input-reset ba bg-white w-100 b--black" placeholder="Enter your email address..." type="email" name="EMAIL" value="" id="email-id" required>
    </div>
    <div class="mt3">
      <input class="f6 grow-large no-underline br-pill ba bw2 ph3 pv2 mb2 dib bg-white pointer" type="submit" value="Sign Up">
    </div>
  </fieldset>
</form>